{%include 'public_header.html'%}
<main id="main">
  <div class="breadcrumbs d-flex align-items-center"
    style="background-image: url('static/assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">
      <h2>About</h2>
    </div>
  </div>
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-4">
          <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8">
          <div class="content ps-lg-5">
            <h3>Mental Health in the Workplace</h3>
            <p>Mental Health issues affect businesses and their employees, poor mental health can negatively affect
              employee: job performance and productivity, engagement with one’s work, communication with co-workers,
              physical capability and daily functioning. It’s important to receive a depression screening because:</p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i>Identifying a mental health disorder early can slow its</li>
              <li><i class="bi bi-check-circle-fill"></i>Addressing depression can improve a person’s physical health
              </li>
              <li><i class="bi bi-check-circle-fill"></i>By acknowledging the problem, helpful treatments can begin</li>
              <li><i class="bi bi-check-circle-fill"></i>Anyone can experience depression at any point in life</li>
              <li><i class="bi bi-check-circle-fill"></i>Mental health conditions like depression can lead to drug and
                alcohol abuse</li>
              <li><i class="bi bi-check-circle-fill"></i>Untreated depression can lead to suicide</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{%include 'footer.html'%}