<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Drepression Level Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
  </link>

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
        * Template Name: Nova - v1.3.0
        * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
</head>
<script>

  function myFunction() {
    var txt;
    if (confirm("Are you sure you want to logout?")) {
      txt = "/login";
    } else {
      txt = "#";
    }
    window.location = txt
  }

</script>

<body class="page-index">
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/health_home" class="logo d-flex align-items-center">
        <h1 class="d-flex align-items-center"><span>i</span>&nbsp;<i style="color: #56b8e6;"
            class="bi bi-bootstrap"></i>etter&nbsp;<i class="bi bi-emoji-laughing " style="color: whitesmoke;"></i></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/health_home" class="active bi bi-house">&nbsp;Home</a></li>
          <li class="dropdown"><a href=# class="active"><span class="bi bi-person-bounding-box ">&nbsp;Profile</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/health_view_profile" class="active">Edit Profile</a></li>
              <li><a href="/health_change_password" class="active">Change Password </a></li>
            </ul>
          <li><a href="/health_view_appointment" class="active bi bi-calendar2-event">&nbsp;Appointment</a></li>
          <li><a href="/health_send_complaint" class="active bi bi-chat-fill">&nbsp;Grievance</a></li>
          <li><a href="/health_send_notification" class="active bi bi-bell-fill">&nbsp;Notification</a></li>
          <li><a href="/health_view_staff" class="active bi bi-file-earmark-check">&nbsp;Test Result</a></li>

          <li><a href="#" onclick="myFunction()" class="active bi bi-box-arrow-right">&nbsp;Logout</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->