{%include 'public_header.html'%}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center"
    style="background-image: url('static/assets/img/services-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Services</h2>
      <!-- <ol>
          <li><a href="/">Home</a></li>
          <li>Services</li>
        </ol> -->

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Our Services Section ======= -->
  <section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h1>Our Services</h1>
        <br>
      </div>

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #f57813;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Check Up</a></h4>
            <p class="description" style="text-align: justify;">Early detection of a mental health condition can delay
              its development.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">DLP Testing</a></h4>
            <p class="description" style="text-align: justify;">Tests for depression might be the first step towards
              receiving assistance and leading a healthy life. Your mental health will be revealed by the results.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week" style="color: #d90769;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Health Care Team</a></h4>
            <p class="description" style="text-align: justify;">Make an appointment with the greatest healthcare team,
              who will monitor your mental health and offer the best treatment options.</p>
          </div>
        </div><!-- End Service Item -->

      </div>
    </div>

    <br>
    <br><br>
  </section><!-- End Our Services Section -->
</main>
{%include 'footer.html'%}